.app-container {
  margin: auto 10px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: #d5f7f0;
  background-size: 100% 400%;
  max-height: 100vh; 
  display: flex;
  flex-direction: column; /* Align items vertically */

}

@keyframes color-change {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 0% 100%;
  }
}

.name {
  text-align: center;
  font-family: cursive;
  margin-bottom: 20px;
}

.input-form {
  display: flex;
  margin-bottom: 20px;
}

.input-form input {
  flex-grow: 1;
  padding: 12px;
  background-color: #e6f6f3;
  border: 1px solid #32dcbc;
  border-radius: 6px;
  font-size: 16px;
  margin-right: 10px;
}

.input-form input:focus {
  outline: none;
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

.input-form button {
  padding: 12px 24px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.input-form button:hover {
  background-color: #218838;
}

.item-list {
  list-style: none;
  padding: 0;
}

.item-list li {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: #e6f6f3;
  border: 1px solid #32dcbc;
  border-radius: 6px;
  margin-bottom: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.05);
  position: relative;
  padding-left: 35px;
  font-weight: 500;
}

.item-list li input[type="checkbox"] {
  margin-right: 10px;
  position: absolute;
  left: 10px;
}

.item-list li span {
  flex-grow: 1;
}

.item-list li.completed {
  order: 1;
  background-color: #f0f0f0;
}

.item-list li button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-left: 5px;
}

.item-list li button:hover {
  background-color: #0056b3;
}

.item-list li button:last-child {
  background-color: #dc3545;
}

.item-list li button:last-child:hover {
  background-color: #c82333;
}

.removed-items,
.completed-items {
  margin-top: 20px;
  border: 1px solid #1e1b1b;
  padding: 15px;
  border-radius: 6px;
}

.removed-items ul,
.completed-items ul {
  list-style: none;
  padding: 0;
}

.removed-items li,
.completed-items li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid #1e1b1b;
}

.removed-items button,
#delete-all-button {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-left: 5px;
}

.removed-items button:hover,
#delete-all-button:hover {
  background-color: #c82333;
}

.group-list {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #000000;
  border-radius: 4px;
}

.group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  border: 2px solid #171616;
  border-radius: 3px;
  cursor: pointer;
  background-color: #d5f7f0;
  font-weight: 500;
  margin-bottom: 3px;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.group-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.group-item span {
  flex-grow: 1;
}

.group-item button {
  background-color: #6c757d;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-left: 5px;
}

.group-item button:hover {
  background-color: #5a6268;
}

.group-list input[type="text"] {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin-bottom: 5px;
  flex-grow: 1;
}

.group-list button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  align-self: flex-end;
  white-space: nowrap;
}

.group-list button:hover {
  background-color: #218838;
}

.back-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  margin-bottom: 20px;
}

.back-button:hover {
  background-color: #0056b3;
}

#undone {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
  margin-left: 5px;
}

#undone:hover {
  background-color: #218838;
}

.notes-section {
  margin-bottom: 20px;
}

.text-box {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px; 
  flex-shrink: 1;
}

.text-box textarea {
  width: 100%;
  min-height: 100px;
  padding: 10px;
  background-color: #e6f6f3;
  border: 1px solid #32dcbc;
  border-radius: 5px;
  resize: none;
  overflow: hidden; 
  box-sizing: border-box; 
}